#b1 {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#b2 {
  text-decoration: line-through;
}

#b3 {
  color: red;
}

#b4 {
  width: 40px;
  display: flex;
  justify-content: space-between;
}

#b5,
#b6,
#b7 {
  border-style: dotted;
  border-width: 1px;
}
